@page "/success"
<div class="wrapper bgded overlay" style="background-image:url('images/demo/gallery/01.jpg');">
    <article class="hoc container clear center">
        <div class="sectiontitle" style="margin-bottom:30px;">
            <h6 class="heading">Reserva realizada exitosamente!!!</h6>
        </div>
        <p><a class="btn medium" href="#">Regresar&raquo;</a></p>
    </article>
</div>

@code {

}
