@inherits LayoutComponentBase
@inject IJSRuntime JsRuntime

<div class="bgded overlay" style=" background-image: url('images/gallery/01.jpg');">
    <div class="wrapper row1">
        <header id="header" class="hoc clear">
            <div id="logo" class="fl_left">
                <h1><a href="index.html">TECHTOUR</a></h1>
            </div>
                <NavMenu></NavMenu>
        </header>
    </div>
    @Body
</div>
<Footer></Footer>
@code{
   
}


