

<ul class="nospace group services">
    @for (int i = 1; i <= Model.Count; i++)
    {
        if (i % 2 == 0)
        {
            <li class="one_half btmspace-30">
                <article class="bgded" style="background-image:url('images/gallery/@Model[i-1].PaqImagen');">
                    <div class="overlay">
                        <h6 class="heading font-x1"><a href="services/@Model[i-1].PaqCodigo">@Model[i - 1].PaqNombre</a></h6>
                        <p>@Model[i - 1].PaqDireccion</p>
                    </div>
                </article>
            </li>
        }
        else
        {
            <li class="one_half first btmspace-30">
                <article class="bgded" style="background-image:url('images/gallery/@Model[i-1].PaqImagen');">
                    <div class="overlay">
                        <h6 class="heading font-x1"><a href="services/@Model[i-1].PaqCodigo">@Model[i - 1].PaqNombre</a></h6>
                        <p>@Model[i - 1].PaqDireccion</p>
                    </div>
                </article>
            </li>
        }
    }
</ul>

@code {
    [Parameter] public List<PaqPaquete> Model { get; set; }
    [Parameter] public List<SerServicio> lst_servicios { get; set; }
}
